.nav {
  margin: auto;
  padding: 20px 0 20px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#container {
  width: 800px;
  margin: auto;
}
#bigBox {
  margin: auto;
  height: 343px;
  width: 98.8%;
  background-color: #111111;
}
#pitch {
  text-align: center;
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.about {
  width: 100%;
  margin-left: 50px;
  text-align: justify;
  margin-top: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  word-spacing: 2px;
  font-size: 11pt;
  display: block;
}
.projects {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  word-spacing: 2px;
  font-size: 11pt;
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
.project1, .project2, .project3, .project4, .project5 {
  margin: 10px;
  margin-bottom: 70px;
}
#instaTV, #dareToPair, #slidingPuzzle, #freeFall, #repIt {
  display: block;
  margin: 0 auto;
}
ul {
  margin: 0;
  -webkit-padding-start: 0;
}
.navItem {
  display: inline-block;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
.navItem a {
  text-decoration: none;
}
.navItem::before {
  font-family: monospace;
  content: '\00a0';
}
.navItem::after {
  font-family: monospace;
  content: '\00a0\00a0';
}
.navItem:hover::before {
  content: '<';
}
.navItem:hover::after {
  content: '/>';
}
.name {
  margin: auto;
  font-size: 40px;
  border-bottom: solid 1px;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  padding: 20px 20px 20px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.socialMediaIcons {
  margin: auto;
  margin-top: 20px;
  list-style-type: none;
  text-align: center;
}
.icon-octoface,
.icon-linkedin,
.icon-social-twitter,
.icon-instagram,
.icon-mail,
.icon-call-phone {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}
.smIcon {
  display: inline-block;
}
.smallBox {
  height: 50px;
  width: 50px;
  float: left;
  background-color: none;
  margin: 6px 0 0 6px;
  opacity: 0.7;
  border: none;
}
.smallBox:hover {
  box-shadow: 0 0 3px white;
}
.active {
  font-size: 80px;
  background-color: red;
  color: blue;
}
.blogPosts, .projects, .resume, .content {
  width: 100%;
  display: block;
  color: black;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
}
.blog1, .blog2, .blog3, .blog4, .blog5, .blog6 {
  width: 600px;
  margin: auto;
  text-align: justify;
}
#linkedIn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
#studying {
  display: block;
  margin: auto;
}
#self {
  display: block;
  margin-top: 15px;
  margin-left: 20px;
  width: 240px;
}
#summary {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  word-spacing: 2px;
  font-size: 11pt;
  text-align: center;
}
#octoface1,
#octoface2,
#octoface3,
#octoface4,
#octoface5 {
  padding: 0;
  color: black;
  width: 20px;
}



.darkbg {
  background-color: black;
}
.darkbg .nav,
.darkbg .navItem,
.darkbg .name,
.darkbg a,
.darkbg #pitch
{
  color: white;
}
