body {
  background-color: #111111;
  color: #DDDDDD;
}
.nav {
  color: #DDDDDD;
  margin: auto;
  padding: 20px 0 20px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#container {
  width: 800px;
  margin: auto;
}
#bigBox {
  margin: auto;
  height: 350px;
  width: 100%;
}
#pitch {
  text-align: center;
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.about {
  width: 100%;
  margin-left: 50px;
  text-align: left;
  margin-top: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  word-spacing: 2px;
  font-size: 11pt;
  display: block;
}
.projects {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  word-spacing: 2px;
  font-size: 11pt;
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
.project1, .project2, .project3 {
  margin: 10px;
  margin-bottom: 100px;
}
#instaTV, #dareToPair, #slidingPuzzle {
  display: block;
  margin: 0 auto;
}
ul {
  margin: 0;
  -webkit-padding-start: 0;
}
.navItem {
  display: inline-block;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
.navItem a {
  text-decoration: none;
  color: #DDDDDD;
}
.navItem::before {
  font-family: monospace;
  content: '\00a0';
}
.navItem::after {
  font-family: monospace;
  content: '\00a0\00a0';
}
.navItem:hover::before {
  content: '<';
}
.navItem:hover::after {
  content: '/>';
}
.name {
  margin: auto;
  font-size: 40px;
  border-bottom: solid 1px;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  padding: 20px 20px 20px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.socialMediaIcons {
  margin: auto;
  margin-top: 20px;
  list-style-type: none;
  text-align: center;
}
.icon-octoface,
.icon-linkedin,
.icon-social-twitter,
.icon-instagram,
.icon-mail,
.icon-call-phone {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: #DDDDDD;
}
.smIcon {
  display: inline-block;
}
.smallBox {
  height: 50px;
  width: 50px;
  float: left;
  background-color: none;
  margin: 6px 0 0 6px;
  opacity: 0.7;
  border: none;
}
.smallBox:hover {
  box-shadow: 0 0 3px white;
}
.active {
  font-size: 80px;
  background-color: red;
  color: blue;
}
.blogPosts, .projects, .resume, .content {
  width: 100%;
  display: block;
  color: black;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 50%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(209,209,209,1)), color-stop(61%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 50%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 50%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 50%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 50%, rgba(219,219,219,1) 61%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
.blog1, .blog2, .blog3, .blog4, .blog5, .blog6 {
  width: 600px;
  margin: auto;
  text-align: justify;
}
#linkedIn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
#studying {
  display: block;
  margin: auto;
}
#self {
  display: block;
  margin-top: 40px;
}
#summary {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 100px;
}
